body {
	margin: 0;
	padding: 0;
	text-align: center;
	background-color: #652d99;
	font-family: Verdana;
	text-align: center;
	font-size: 18px;
	font-weight: 500;
}

#holder {
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
}

.div {
	background-color: rgb(236, 236, 236);
	max-width: 500px;
	min-width: 500px;
	margin: 25px auto;
	padding: 30px 20px;
	box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
	display: block;
}


.label {
	margin-left: 10px;
}

button,
input[type=submit] {
	background-color: #63be6a;
	border: 1px solid #777;
	border-radius: 2px;
	font-family: inherit;
	font-size: 21px;
	display: inline-block;
	justify-content: center;
	min-width: 350px;
	padding: 10px;
	margin-top: 40px;
	margin-bottom: 20px;
}

.slider {
	width: 160px;
}

input[type=radio] {
	transform: scale(1.75);
}

@media only screen and (min-width: 700px) {
	body {
		font-size: 20px;
		/* background-color: #63be6a; */
	}

	.div {
		max-width: 1000px;
		min-width: 1000px;
		margin: 25px auto;
		padding: 30px 20px;
		box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
		display: block;
	}
}